/* 
    colore principale bottoni, navbar... e colore hover
*/
button {
  border: 0 !important;
}

.btn {
  border-radius: 0.5em;
}

/* ----- MAIN COLORS ----- */
.colored-btn {
  background-color: rgb(23, 94, 118);
  color: #ffffff !important;
}
.colored-btn:hover {
  background-color: rgb(18, 78, 98);
}

.empty-btn {
  background-color: #ffffff;
  border: 1px solid rgb(23, 94, 118) !important;
  color: rgb(23, 94, 118) !important;
}
.empty-btn:hover {
  background-color: rgb(232, 232, 232);
}

/* ----- ICONS ----- */
.post-icon {
  font-size: 1.3em;
}

.like-icon {
  color: rgb(143, 13, 13);
}
.like-icon:hover {
  color: rgb(114, 9, 9);
}

.comment-icon {
  color: rgb(209, 151, 13);
}
.comment-icon:hover {
  color: rgb(175, 126, 10);
}

.pin-icon {
  color: rgb(54, 104, 137);
}
.pin-icon:hover {
  color: rgb(40, 81, 108);
}

/* ----- PLAYER TRACK ----- */
.cover {
  width: 100%;
  z-index: 100;
  cursor: pointer;
}
.cover:hover {
  filter: brightness(60%);
  z-index: 40;
}
.cover:hover + .wave {
  z-index: 0;
}
.cover:hover ~ .track-name {
  display: block;
}

.play {
  z-index: 50;
}
.play:hover {
  z-index: 200;
  filter: brightness(60%);
}
.play:hover + .cover {
  z-index: 40;
  filter: brightness(60%);
}
.play:hover ~ .wave {
  z-index: 0;
}
.play:hover ~ .track-name {
  display: block;
}

.track-name {
  z-index: 45;
  bottom: 0.5em;
  left: 0.5em;
  text-shadow: 2px 2px 10px black;
}

.filter-cover {
  filter: brightness(60%);
}

/* wave animation */
.wave {
  background: url(./imgs/wavesvg.svg);
  z-index: 200;
  position: absolute;
  width: 6400px;
  height: 50%;
  bottom: 0;
  animation: wave 28s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave {
  display: none;
}

/* loading */
.loading {
  z-index: 200;
  font-size: 4em;
  color: rgb(255, 255, 255);
}

.dot {
  animation: loading 1.6s linear infinite;
}

.dot-2 {
  animation-delay: 0.3s;
}

.dot-3 {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-0.5em);
  }
  60% {
    transform: translateY(0);
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#757575 0 0);
  --r1: radial-gradient(farthest-side at bottom,#757575 93%,#757575);
  --r2: radial-gradient(farthest-side at top ,#757575 93%,#757575);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}

@keyframes l2 {
  0%, 25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  95%, 100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}
nav {
  z-index: 500;
  color: rgb(41, 43, 45);
}

/* topbar */
.top-bar {
  background-color: #ffffff;
  border-bottom: 3px solid rgb(23, 94, 118) !important;
}

.top-nav-icon {
  color: rgb(23, 94, 118);
  padding: 0.4em;
  border-radius: 0.5em;
  border: 1px solid rgb(23, 94, 118) !important;
  box-shadow: 0 0 0.5em 0.2em rgba(215, 215, 215, 0.538) inset;
}
.top-nav-icon:hover {
  background-color: rgba(95, 129, 153, 0.2078431373);
}

/* navbar */
.nav-bar {
  background-color: rgb(23, 94, 118);
  margin-top: 1em;
}

.nav-icon {
  padding: 0.3em;
  font-size: 1.2em;
  border-radius: 0.5em;
  color: #ffffff;
  border: 1px solid rgb(23, 94, 118) !important;
}
.nav-icon:hover {
  border: 1px solid #ffffff !important;
}

.nav-icon-selected {
  color: rgb(8, 42, 53);
}

/* ----- GENERAL ----- */
html, #root, body {
  height: 100%;
  overflow: hidden;
}

body {
  user-select: none;
  background-color: #e6e6e6;
}

h2 {
  color: rgb(87, 87, 87) !important;
}

label {
  color: rgb(95, 93, 93) !important;
}

.noHover {
  pointer-events: none;
}

p {
  color: rgb(157, 157, 157);
}

.date {
  color: rgb(149, 149, 149) !important;
}

/* contenitore del contenuto */
.outlet-div {
  height: 93%;
}

.outlet-div::-webkit-scrollbar {
  background-color: rgba(29, 20, 20, 0);
  visibility: hidden;
  border-radius: 0.5em;
}

/* modals */
.modal {
  margin-top: 15em;
}

/* box  */
.box {
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 1em;
}
.box p {
  color: rgb(87, 87, 87);
}

/* ----- SEARCH ----- */
.search-form {
  background-color: rgb(23, 94, 118);
}
.search-form .btn {
  background-color: #ffffff;
  color: rgb(41, 43, 45) !important;
  border: 0;
}
.search-form .btn:hover {
  background-color: rgb(232, 232, 232);
}
.search-form .active {
  background-color: rgb(221, 222, 223) !important;
}

/* auth */
.auth-page {
  background-color: rgb(23, 94, 118);
  height: 100%;
  padding-top: 3em;
}
.auth-page h2 {
  margin-bottom: 1em;
  font-size: 3em;
  font-weight: bold;
  color: white !important;
}
.auth-page .btn {
  border: 1px solid rgb(23, 94, 118) !important;
  color: rgb(23, 94, 118);
}
.auth-page .btn:hover {
  background-color: rgb(23, 94, 118);
  color: #ffffff;
}
.auth-page a {
  color: rgb(23, 94, 118);
  font-weight: bold;
}
.auth-page a:hover {
  color: rgb(18, 78, 98);
}

/* profile page */
.profile-container .edit-profile {
  background-color: #ffffff;
  border: 1px solid rgb(23, 94, 118);
  color: rgb(23, 94, 118);
}
.profile-container .edit-profile:hover {
  background-color: rgb(221, 222, 223);
}

/* profile img */
.profile_img {
  width: 6em;
  height: 6em;
}
.profile_img img {
  width: 100%;
}

.icon_edit {
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  top: 45%;
  z-index: 70;
  color: #ffffff;
  text-shadow: 2px 2px 10px black;
}
.icon_edit:hover + .edit_profile_img {
  z-index: 50;
  filter: brightness(60%);
}

.edit_profile_img {
  z-index: 100;
}
.edit_profile_img:hover {
  filter: brightness(60%);
  z-index: 50;
}

/*  edit post */
.edit-post .back {
  background-color: #ffffff;
  border: 1px solid rgb(23, 94, 118) !important;
  color: rgb(23, 94, 118) !important;
}
.edit-post .back:hover {
  background-color: rgb(232, 232, 232);
}
.edit-post .save {
  background-color: rgb(23, 94, 118);
  color: #ffffff !important;
}
.edit-post .save:hover {
  background-color: rgb(18, 78, 98);
}

/* new post */
.new-post-track:hover {
  border: 1px solid rgb(23, 94, 118);
}
.new-post-track .choose-row:hover {
  border-bottom: 1px solid rgb(23, 94, 118);
  color: rgb(23, 94, 118);
}/*# sourceMappingURL=styles.css.map */