
/* player track */

// track cover
.cover {
    width: 100%;
    z-index: 100;
    cursor: pointer;

    &:hover {
        filter: brightness(60%);
        z-index: 40;
        + .wave {
            z-index: 0;
        }
        ~ .track-name{
            display: block;
        }
    }
}

// play/pause button
.play {
    z-index: 50;
    &:hover {
        z-index: 200;
        filter: brightness(60%);
        + .cover {
            z-index: 40;
            filter: brightness(60%);
        }
        ~ .wave {
            z-index: 0;
        }
        ~ .track-name{
            display: block;
        }
    }
}

// track name
.track-name{
    z-index: 45;
    bottom: 0.5em;
    left: 0.5em;
    text-shadow: 2px 2px 10px black;

}

.filter-cover{
    filter: brightness(60%);
}
