@import '_variables';
@import '_buttons';
@import '_colors';
@import '_animations';

body{
    user-select: none;
}

h2{
    color: $main-color !important;
}

label{
    color: rgb(95, 93, 93) !important;
}
nav{
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.549);
    color: white;
}

.noHover{
    pointer-events: none;
}