@import '_variables';

body{
    user-select: none;
}

h2{
    color: $main-color !important;
}


/* colore principale */
.main-color{
    color: $main-color !important;
}
.main-color-bg{
    background-color: $main-color !important;
}
.main-color:hover{
    color: $main-color-hover !important;
}
.main-color-bg:hover{
    background-color: $main-color-hover !important;
}