@import '_variables';
@import '_buttons';
@import '_colors';
@import '_animations';

html, #root, body{
    height: fit-content;
}
body{
    user-select: none;
}

h2{
    color: $main-color !important;
}

label{
    color: rgb(95, 93, 93) !important;
}
nav{
    z-index: 500;
    color: white;
}

.noHover{
    pointer-events: none;
}


.profile_img{
    width: 6em;
    height: 6em;
    img{
        width: 100%;

    }
}

button{
    border: 0 !important;
}
